/*Debut general*/
*{
    /*font-family: 'Courier New', Courier, monospace;*/
    list-style: none;
    text-decoration: none;
    font-family: "Spinnaker", sans-serif;
    color: white;
}
.hidden{display: none;}
.spinnaker-regular {
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    width: 100%;
    background-color: #141317;
    display: flex;
}

button{
    color: #09070d;
    border: none;
    display: flex;
    justify-content: center;
}
h1{color: white;}
  
button:hover{
    cursor: pointer;
}
#optionnel{
    display: block;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background: #09070d;
    border-radius: 5px;
}
:required{
    background-color: white;
}
.content{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
}
/*Debut header*/

/*Si co*/

option, select, #submit, input{
    color: #09070d;
}
.favorites_header{
    display: flex;
    align-items: center;
}
.favorites_header img{
    height: 40px;
    margin-left: 40px;
}
@media screen and (min-width: 1100px){
 
.connecte nav {
    z-index: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0;
    left: 0;
    top:0;
    color: white;
    position: sticky;   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100vh;
    background-color: #6b3bf4;
    transition-property: width, display;
    transition-duration: 0.3s, 0.1s;
    transition-delay: 0, 0.5s;

}
.connecte .nav h1{
    margin-top: 30px;
}
.connecte .nav-bar .ligne a{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 200px;
    color: white;
}
.connecte .ligne a li{
    display: none;
}
.connecte .ligne:hover{
    width: auto;
    background-color: #451a7e;
}
nav:hover{
    width: 250px;
}
.connecte nav:hover a li{
    display: block;
}
.connecte .nav-bar{
    margin: 50px 0px;
    padding: 0;
    width: 100%;
}
.connecte .nav-bar #active{
    background-color: #1f2123;
}

.brand_bot{
    position: fixed;
    bottom: 0;
    left: 10px;
    color: #394a56;
}

nav img{
    margin: 20px 20px;
    width: 25px;
    height: 25px;
}
.notif{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
    padding: 10px;
    border-radius: 10px;
    background-color: #09070d;
}
.notif img{
    width: 40px;
    height: 40px;
}
.logo{
    width: 60px;
    height: 50px;
}

h3, h1{ 
    margin: 0;
}

option, select, #submit, input{
    color: #09070d;
}

/*Si pas co*/
.body_pas_co{
    margin-top: 80px;
    background-color: #141317;
}
.pas-co{
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #141317;
    height: 80px;
}
.pas-co nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pas-co .ligne img{
    display: none;
}
.pas-co .nav-bar{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 20px;
}
.pas-co li{
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 20px;
}
.pas-co #co{
    width: 150px;
    margin-left: 50px;
    border-left: #6b3bf4 1px solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 50px;
}
.pas-co #inscription {
    width: 100px;
    margin-right: 50px;
    background-color: #6b3bf4;
}

}
/*Responsive header*/
/*Fin responsive*/

/*Fin header*/






/*Debut index*/
#pres{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}
.reste{
    z-index: 10;
    display: flex;
    width: 100%;
}
.mid_section{
    width: auto;
    background-color: #19181d;
    height: 100%;
}
.mid_section_part{
    width: 100%;
    height: 100%;
    background-color: #141317;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.adapte{
    margin: 30px 0 5px 0px;
}
.adapte .rapide{
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contenu{
    width: 80%;
    height: 80%;
    padding: 5%;
}
.right_section{
    width: 100%;
    margin-bottom: 50px;
    background-color: #19181d;
    height: 100%;
    padding: 0;
}
.section_questionnaire{
    min-height: 300px;
    background-color: #141317;
    border-radius: 50px;
    margin: 40px 0;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1100px;
}
.historique{
    width: 100%;
    padding-left: 40px;
}
.historique_cards{
    display: flex;
    flex-wrap: wrap;
}

.pas_co_content{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 10;
    width: 100%;
}
.header_historique{
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
}
#header_historique_img{
    width: 30px;
    margin-right: 30px;
}
.welcomer{
    width: 500px;
    padding: 50px;
    font-size: 2em;

}
.welcomer .acces_quest{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 0.5em;
}
.welcomer .acces_quest .button{
    justify-content: center;
    display: flex;
}

.welcomer .acces_quest button{
    padding: 30px 20px;
    width: 300px;
    border-radius: 40px;
    color: white;
    background-color: #6b3bf4;
}

.pas_co_content img{
    width: 1100px;
    height: auto;
    border-radius: 30px;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  }


  .right_section .favorite{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1500px){

    .right_section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .historique{
       padding: 0;
    }
    .historique h4{
        text-align: center;
    }
    .historique_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .reste {
        display: flex;
        flex-direction: column;
    }
    .mid_section .contenu{
        padding: 0;
    }
    .mid_section_part{
        padding: 20px 0; 
    }
    .adapte h3{margin-left: 20px;}
    .adapte {width: 100%;}
    .reste  .rapide {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .rapide .card_rapide{
        margin: 10px 0;
    }
    .section_favorite{
        padding-bottom: 50px;

    }
}
/*Fin index*/







@media screen and (max-width: 1800px){
    .welcomer{
        width: 80%;
        text-align: center;
    }
    .image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .image img{
        width: 80%;
    }

}






/*Debut questionnaire*/
#quest .container {
    display: none;
}
#quest::-webkit-scrollbar {
    display: none;
}
#quest {
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}
#questionnaire_content{
padding: 0;
}
.questionnaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container_a{
    margin-top: -80px;
}
.card_quest {
    padding: 40px;
    border-radius: 50px;
    color: black;
    width: 600px;
    background-color: #6b3bf4;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_direction{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Fin questionnaire*/






/*Debut result*/
.resultat_reste{

    width: 100%;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.result{
    padding-left: 40px;

}

.resultat h1 {
    font-size: 1.2em;
}
.result .cards_result{
    display: flex;
    flex-wrap: wrap;
}
#affiliation_p{
    text-align: center;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
}
#coup_de_coeur_p{
    color: #6b3bf4;
    text-align: center;
}
/*Fin result*/







/*Debut connexion*/
#form_co{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.connexion, .inscription{
    display: flex;
    justify-content: center;
}


.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 25px;
    background-color: #fff;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  
  #heading {
    text-align: center;
    margin: 2em;
    color: black;
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: black;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
  }
  .password_changer {
    background: none;
    border: none;
    outline: none;
    color: black;
    width: min-content;
  }
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
    margin-bottom: 20px;
  }
  
  .button1 , .button2 {
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #6b3bf4;
    color: white;
    width: 150px;
  }
  
  .button2:hover ,.button1:hover {
    background-color: #5a2bd9;
    color: white;
    cursor: pointer;
  }
  

  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }



/*Fin connexion*/








/*Debut user*/
.user{margin: 50px;font-size: 1.2em;}
.user form{ margin: 0 60px;}
.user label {font-size: 1.2em;}
.user select{width: 400px; font-size: 1em;}
#submit {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
}
.user_main li{ 
    font-family: calibri;
    font-size: 1.2em;
    margin: 30px;
}
/*Fin user*/








/*Debut admin sector*/
#ia_admin .content{
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ia_admin .content .content_admin{
    width: min-content;
    height: min-content;
}
.content_admin p{
    color: white;
}
.tools{
    display: flex;
    flex-wrap: wrap;
}
.tools button{
    transition: all 0.4s;

    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width:200px;
    margin: 40px 15px;
    border-radius: 20px;
    font-size: 1.3em;
    color: #09070d;
}
.tools button:hover {
    background-color: #6b3bf4;
}
/*Fin admin sector*/

/*Debut users info*/
.users_info{
    display: flex;
    flex-wrap: wrap;
}
.user_info{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.user_info .info_header{
    align-items: center;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.user_info h1, .user_info p{

    color: #09070d;
}
.delete_user{
    background-color: white;
    height: 50px;
    width: 50px;
}

/*Debut new_ia*/
.new_ia{
    margin-left: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
}
#new_ia{
    text-align: center;
}
.new_ia h2 {text-align: center; font-size: 2em;}
.new_ia input, select, textarea {
    width: 300px;
    margin: 20px; 
    font-size: 1.3em;
}
.new_ia label{font-size: 1.3em;}
.new_ia  #ia_description {height: 150px; }
.new_ia #ia_description_short {height: 100px; }
.new_ia textarea {height: 30px; width: 100%; color: black;}
.modify_ia_tout{width: 100%; padding-left: 50px; padding-top: 60px;}

/*Fin new_ia*/



.card_rapide {
    margin: 30px;
    width: 150px;
    height: 200px;
    background: #1f1d23;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
  }
  
  .card_rapide:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: #1f1d23;
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    opacity: 1;
    border-radius: 15px;
    font-size: 0.8em;
  }
  .first-content img{
    margin: 10px;
    width: 50px;
  }
  .first-content span {
    display: flex;
    justify-content: space-between;
    width: max-content;
    align-items: center;
  }
  .first-content span img{
    width: 20px;
  }
  .card_rapide:hover .first-content {
    height: 0px;
    opacity: 0;
  }


  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    }
.second-content span{
    font-size: 1.5em;
}
.second-content p{
    font-size: 1em;
    width: 80%;
}
  
  .card_rapide:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
  }
  .second-content button{
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*Fin card favorite*/




 


/*Recherche*/
#recherche{
    padding: 0;
    display: block;
}
#recherche .result{margin-top: 30px;}
.critere_recherche{margin-left: 30px;}
.recherche{
    display: flex;
    flex-direction: column;
}
.search_bar_all{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recherche_button{
    background: none;
}
.recherche_button img{
    width: 30px;
}
.search_bar {
    display: block;
    color: black;
    font-size: 1.3em;
    background: linear-gradient(142.99deg, white 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    border-color: white;
    border-radius: 50px;
    block-size: 20px;
    margin: 30px;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 200px;
    transition: 0.5s;
    
  }
  
  .search_bar:hover {
    width: 240px;
  }
  




.section_favorite{
    width: 100%;
}



 .card {
    margin: 10px 20px;
    width: 17em;
    height: 400px;
    background: #141317;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
#result_card{
    background-color: #19181d;
    height: auto;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 150px;
}
#recherche_card{
    background-color: #19181d;
    height: 450px;
}
  .card #result span{
    font-size: 1.5em;
    margin-bottom: 20px;
  }
 .card .header {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }
.card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    font-size: 1em;
  }
 .card img{
    width: 20px;
  }
.card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
    height: 80%;
  }
.info_affiliation {
    font-size: 0.8em;
    padding: 0 0 10px 0;
    margin: 0;
    text-align: center;
}
.info_cdc{
    color: #6b3bf4;
    font-size: 1.3em;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}
 .card .img{
    width: 4.8em;
    height: 4.8em;
    border-radius: 15px;
    margin: 10px auto;
  }
.card .img img{
    width: 4.8em;
  }
.card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }
  
.card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
 .card a:hover {
    color: #6b3bf4;
  }
 .button_position{
    padding-bottom: 30px;   
    display: flex;
    justify-content: center;
    width: auto;
}
 .card button, .button_back {
    padding: 0.8em 1.7em;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
    width: 100px;
  }
  
 .card button:hover, .button_back:hover{
    background: #6b3bf4;
    color: white;
    cursor: pointer;
  }



  
@media screen and (max-width: 1100px){
    .result{padding: 0;}
    .name_ai{display: block;}
    input{color: black;}
    .body{margin-bottom: 60px;}
    .pas_co_content{
        margin: 0 0 150px 0;
        padding: 0 0 0 0;
    }
    .welcomer{
        padding: 20px 0;
    }
    .acces_quest{
        width: auto;
    }
    .acces_quest button{
        width: 100px;
    }
    .acces_quest p{
        font-size: 0.6em;
    }
    .pas-co, .connecte{
        position: fixed;
        bottom: 5px;
        display: flex;
        justify-content: center;
        z-index: 800;
        width: 100%;
        padding: 0;
    }
    .nav .nav-bar{
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: #09070d;
        border-radius: 60px;
    }
    .logo, #ligne_inscription{display: none;}
    .nav-bar .ligne img {
        margin: 15px 20px;
        width: 20px;
        height: 20px;
        z-index: 500;
        display: block;
    }
    .ligne{
        transition: all 0.3s ease-in-out;
    }
    .ligne:hover{
        scale: 1.2;
    }
    .ligne li{display: none;}
    h1{
        font-size: 0.8em;
    }
    #active{
        border-radius: 50px;
        background-color: #6b3bf4;
    }
}


#button_submit{
    background: none;
    padding: 0;
    margin: 0;
}




#questionnaire_content {
    width: 100%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card_container {
    margin-bottom: 20px;
}

.card_quest {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card_quest label,
.card_quest h4 {
    font-size: 1.1em;
    margin-bottom: 15px;
    display: block;
    color: #141317;
}

.card_quest select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #141317;
}

.card_quest select:focus,
.card_quest input:focus {
    border-color: #6b3bf4;
    outline: none;
}

.wrapper_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 300px;
}

.state {
    display: none;
}

.label {
    width: 100%;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.label_2{
    display: flex;
    align-items: center;
}
.label:hover {
    background: #e0e0e0;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 30px;
}

.state:checked + .label .indicator {
    background: #6b3bf4;
    border-color: #6b3bf4;
}

.text {
    font-size: 1em;
    color: #141317;
}

.button_direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_direction a,
.button_direction button, .card_quest #result {
    background: #6b3bf4;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    transition: background 0.3s ease;
}

.button_direction a:hover,
.button_direction button:hover , .card_quest #result:hover {
    cursor: pointer;
    background: #5a2bd9;
}

.button_direction a:active,
.button_direction button:active {
    background: #4823b5;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card_4_child {
    margin-bottom: 20px;
}
.infos .reste{
    display: flex;
    flex-direction: column;
}

.infos p {
    font-size: 1em;
    margin-bottom: 10px;
}

.infos .reste label {
    font-size: 1em;
    margin-bottom: 5px;
    display: block;
    color: #141317;
}

.infos .reste input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #141317;
}


@media screen and (max-width: 800px){
    .form{
            width: 200px;
        }
        #result_card{
            width: 250px;
        }
    }

    @media screen and (max-width: 700px){
        #card_a{margin-top: 50px;}
        #container_a{
            margin-top: 0;
        }
        #questionnaire_content{
            padding: 0;
            margin: 0;
        }
        .questionnaire{
            padding: 0;
            margin: 0;
        }
        .card_quest{
            width: 200px;
        }

        .wrapper {
            display: flex;
            width: 180px;
        }
        
    }
@media screen and (max-width: 400px){
    #result_card{
        width: 150px;
    }
}
    .price-range {
        margin: 20px 0;
        width: auto;
    }
    .range-slider {
        display: flex;
        align-items: center;
        width: 150px;
        height: 10px;
    }




/* Reset des styles par défaut */
body, h1, label, input, textarea, button {
    box-sizing: border-box;
}

.content_tickets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Conteneur principal du formulaire */
.ticket-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
/* Titre du formulaire */
.ticket-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

/* Styles pour les champs de formulaire */
.ticket-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.ticket-container input[type="text"],
.ticket-container input[type="email"],
.ticket-container textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #09070d;
    height: 100px;
}

/* Styles pour le bouton d'envoi */
.ticket-container button {
    width: 100%;
    padding: 10px;
    background-color: #6b3bf4;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ticket-container button:hover {
    background-color: #5a2bd9;
}
.ticket-container p{
    color: #09070d;
    text-align: center;
}
.co_error {color: #09070d; text-align: center;}
.ticket_ans{
    height: 500px;
    width: 400px;
}
#ticket_admin{
    display: flex;
    flex-wrap: wrap;
}




/*New features*/
.reste-more{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.feature-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    transition: transform 0.3s ease;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .feature-card:hover {
    transform: scale(1.05);
  }
  
  .card-header h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .card-body {
    text-align: center;
  }
  
  .feature-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .feature-list {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .feature-list li {
    font-size: 1rem;
    color: #444;
    margin-bottom: 8px;
  }
  
  .learn-more-btn {
    background-color: #6b3bf4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-btn:hover {
    background-color: #5a2bd9;
  }











/* Style de la boîte de chat */

/*Chat*/





.share_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chat-box {
    width: 900px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Style général des messages */
.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    clear: both;
    font-size: 14px;
    line-height: 1.4;
    color: black;

}

/* Messages envoyés par l'utilisateur (alignés à droite) */
.message.right {
    background-color: #dcf8c6;
    float: right;
    text-align: right;
}

/* Messages des autres utilisateurs (alignés à gauche) */
.message.left {
    background-color: #fff;
    float: left;
    text-align: left;
}

/* Couleur du nom pour un utilisateur admin */
.admin .chat_nom {
    color: red;
    font-weight: bold;
}

/* Couleur du nom pour un utilisateur normal */
.user .chat_nom {
    color: blue;
}

/* Style pour les dates */
.date {
    font-size: 12px;
    color: #999;
}

/* Effacement des floats après chaque message pour éviter le chevauchement */
.message:after {
    content: "";
    display: table;
    clear: both;
}
#chat-form{display: flex; align-items: center; }
#send-button{background: none;}
#send-button img{width: 30px;}

    #message-input {
        width: 100%;
        min-width: 250px;
        height: auto;
    }



.user_header{
    display: flex;
}
.edit{
    background-color: transparent;
}
.edit img{
    margin-left: 40px;
    width: 30px;
    height: 30px;
}
